<!DOCTYPE html>
<html>
    <h1>About</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <p>I am a software Engineer. You can reach me at linkedin <a href = "https://www.linkedin.com/in/aneela-bashir-428648a2/">aneelabashir</a></p>
</html>