<!DOCTYPE html>
<html>

<head>
<h1>Home Page from HBS</h1>
   
</head>
<header>
     <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>


<body>
    <h2>{{title}}</h2>


    <form>
        <input placeholder="Location"/>
        <button>search</button>
    </form>

    <p id="message-1">    </p>

    <p id="message-2">    </p>
</body>
<script src="/js/app.js"></script>

</html>